*{
    margin: 0px;
    padding: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
body{
    background-color: rgba(0, 0, 0, 0.521);
}
header{
    background-color: rgb(141, 92, 0);
    color: white;
    padding: 8px;
    text-align: center;
    font-size: x-large;
    margin-bottom: 10px;
}
form{
    
    width: 500px;
    height: 120px;
    margin: auto;
    border-radius: 12px;
    background-color: rgba(255, 166, 0, 0.685);
}

#nome{
    margin: 15px 15px 5px ;
    padding: 5px;
    width: 250px;
    border: none;
    border-radius: 8px;
}
#data{
    margin: 0px 15px 5px ;
    padding: 5px;
    width: 250px;
    border: none;
    border-radius: 8px;
}
button{
    padding: 2px;
    border: none;
    margin-left: 15px;
    border-radius: 8px;
    width: 80px;
}
ol{
    margin-top: 20px;
    width: 500px;
    margin:20px auto;
}
li{
    list-style: none;
}
.lista{
    display: flex;
    width: 500px;
    justify-content: space-between;
    
}


