*{
    margin: 0px;
    padding: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
body{
    background-color: rgba(0, 0, 0, 0.521);
}
header{
    background-color: rgb(141, 92, 0);
    color: white;
    padding: 8px;
    text-align: center;
    font-size: x-large;
    margin-bottom: 10px;
}
form{
    background-image: url(img/folhas.jpg) ;
    background-size: 100%;
    background-repeat: no-repeat;
    max-width: 600px;
    height: 220px;
    margin: auto;
    border-radius: 12px;
    background-color: rgba(255, 166, 0, 0.685);
}
form img {
    width: 100px;
    margin: 0px 150px;
}

#nome{
    margin: 5px 65px 5px ;
    padding: 5px;
    width: 250px;
    border: none;
    border-radius: 8px;
}
#data{
    margin: 0px 65px 5px ;
    padding: 5px;
    width: 250px;
    border: none;
    border-radius: 8px;
}

button{
    
    padding: 2px;
    border: none;
    margin-left: 65px;
    border-radius: 8px;
    width: 80px;
}
ol{
    max-width: 500px;
    margin:20px auto;
}
li {
    list-style: none;
    position: relative;
    padding: 10px 0;
    cursor: pointer;
}
.lista {
    display: flex;
    max-width:500px;
    justify-content: space-between;
}
.lista-cortada li::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: black;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}
.lista-cortada li.selected::after {
    transform: scaleX(1);
}