*{
    margin: 0px;
    padding: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
body{
    background-image: url(img/laranja.jpg);
    background-repeat: repeat-y;
    background-size: 200%;
    background-position:left top;

}
header{
    color: white;
    padding: 8px;
    text-align: center;
    font-size: x-large;
    margin-bottom: 10px;
}
form{
    max-width: 500px;
    height: 220px;
    margin: auto;
    border-radius: 12px;
    background-color: rgba(255, 166, 0, 0.685);
}
#nome{
    margin: 40px 65px 9px ;
    padding: 10px;
    width: 250px;
    border: none;
    border-radius: 8px;
}
#data{
    margin: 1px 69px 9px ;
    padding: 10px;
    width: 250px;
    border: none;
    border-radius: 8px;
}

button{
    
    padding: 5px;
    border: none;
    margin-left: 69px;
    border-radius: 8px;
    width: 80px;
}
ol{
    max-width: 500px;
    margin:20px auto;
}
li {
    list-style: none;
    position: relative;
    padding: 10px 0;
    cursor: pointer;
    font-size: larger;
    color: rgb(202, 202, 202);
}
.lista {
    display: flex;
    max-width:500px;
    justify-content: space-between;
}
.lista-cortada li::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: white;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}
.lista-cortada li.selected::after {
    transform: scaleX(1);
}